section {
  width: 30vw;
  border-radius: 0px 20px 20px 0px;
  margin: auto;
  height: 100vh;
  background: linear-gradient(to top left, #60CDFC, #5FFCC2);
  background-repeat: cover;
  color: white;
}
  #cancel{
    position: relative;
    width: 20px;
    height: 20px;
    top: 2%;
    left: 92%;
    border-radius: 50% 50%;
  }
  #cancel:hover{
    background: rgba(255, 0, 0, 0.822);
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }
  #signIn{
    margin-top: 20vh;
  }
  #flyout {
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 1000;
  }
  #flyout.hide {
    transform: translate3d(-100vw, 0, 0);
    -webkit-transition-property: width height background-color font-size left top color;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: width height background-color font-size left top color;
    transition-duration: 2s;
    transition-timing-function: ease;
  }
  #flyout.show {
    transform: translate3d(0vw, 0, 0);
    -webkit-transition-property: width height background-color font-size left top color;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: width height background-color font-size left top color;
    transition-duration: 2s;
    transition-timing-function: ease;
  }
    .hform{
      margin: auto;
      padding: 25% auto;
    }
      .input{
        margin-bottom: 5vh;
        border-right: none;
        border-top: none;
        border-left: none;
        background-color:transparent;
        outline: none;
        color: white;
        caret-color: rgb(43, 43, 42);
      }
      .input-text::placeholder {
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
      }
      .input-email::placeholder {
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
      }
      input[type=submit] {
        background: rgba(255,255,255,.2);
        width: 100%;
        padding: 2vh;
        border: none;
        cursor: pointer;
        border-radius: 4px 4px;
      }